*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
  background: #f3f3f3;
  color: #242424;
  padding: 50px 0 150px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {font-size: 1rem*3;}
h2 {font-size: 1rem*2;}
h3 {font-size: 1rem*1.5;}

p {
  margin-top: 0;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

img {
  vertical-align: top;
  border-style: none;
}

.container {
  max-width: 1200px;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
}

.loading {
  text-align: center;
  font-weight: 500;
  &_info {
    width: 100%;
    position: relative;
    top: -65px;
    color: #676767;
    font-size: .87rem;
  }
  svg {
    width: 100px;
  }
}